* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  
}

.nav-header {
  width: 100%;
  background:steelblue;
  opacity: 0.99;
}

.logo {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.logo-h2 {
  text-transform: uppercase;
}

.logo-p {
  text-transform: uppercase;
  font-weight: 700;
}



.container {
  max-width: 940px;
  width: 95%;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav {
  list-style: none;
  display: flex;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  padding: 10px 22px;
  border: 0px solid black;
  border-radius: 20px;

  position: relative;
	transition: all 1s;
	overflow: hidden;
  
}

.nav-link:hover {
  color: white;
  
}

.nav-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: -1;
  transform: translateX(-100%);
  transition: all 250ms;
  
}

.nav-link:hover:before {
  
  transform: translateX(0);
  
}



.nav-list-item {
  margin-left: 10px;
}



@media (max-width: 675px) {
  .nav-container {
    flex-direction: column;
  }

  .logo {
    text-align: center;
  }
}